*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
	background: url(../img/background.jpg);
    background-size: cover;
	font-family: 'Roboto', sans-serif;
}

.container{
    padding: 100px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-section{
	background-color: #03a9f466;
    padding: 25px;
    width: 600px;
}

.login-section img{
	width: 200px;
    margin: 0px auto;
    display: block;

}

.login-section h2{
	text-align: center;
    color: maroon;
    text-transform: uppercase;
    margin: 10px 0px;
}

.from-control{
    width: 96px;
    height: 35px;
    margin-bottom: 10px;
    padding: 5px;
}

.submit-button{
    background: maroon;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.pass{
    width: 96px;
    height: 35px;
    margin-bottom: 10px;
    padding: 5px;

}

.submit-button:hover{
	box-shadow: 2px 4px 8px #ffff;

}



